{
  "projects": {
    "default": "openplanner"
  },
  "targets": {
    "openplanner": {
      "hosting": {
        "conferencecenterr": [
          "conferencecenterrX"
        ],
        "apiopenplanner": [
          "apiopenplannerX"
        ],
        "serviceapi": [
          "serviceapiX"
        ]
      }
    }
  },
  "etags": {}
}