{
  "projects": {
    "default": "conferencecenterr"
  },
  "targets": {
    "conferencecenterr": {
      "hosting": {
        "conferencecenterr": [
          "conferencecenterr"
        ],
        "apiopenplanner": [
          "apiopenplanner"
        ],
        "serviceapi": [
            "serviceapi"
        ]
      }
    }
  },
  "etags": {}
}