rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /events/{eventId}/{file} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid in
                   firestore.get(/databases/(default)/documents/events/$(eventId)).data.members;
    }

  }
}
