.fc table {
    font-size: 6px;
}

.fc-event {
    font-size: 16px;
    border-width: 0;
    border-radius: 6px;
}

.fc-template {
    border-width: 2px;
    border-style: dashed;
}

.fc .fc-timegrid-slot {
    height: 10px;
}

.fc .fc-timegrid-slot-label-frame {
    position: relative;
}

.fc .fc-timegrid-slot-label-cushion {
    position: absolute;
    font-size: 16px;
    line-height: 5px;
    top: 0;
    left: 0;
}

.fc thead[role='presentation'] {
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    .fc {
        --fc-border-color: #444;
        --fc-page-bg-color: #222;
    }
}
