/* SessionCard.tsx */
.session-card-rnd:hover {
    z-index: 10 !important;
}

/* For PUBLIC FAQ MARKDOWN */
.wmde-markdown-color {
    background: inherit !important;
    font-family: inherit !important;
}
