name: Build project

on: [push, pull_request]

jobs:
    build:
        name: Build front project
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Install bun
              uses: oven-sh/setup-bun@v1
            - run: bun install --frozen-lockfile
            - run: bun run build
            - run: bun run tscheck
            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version-file: .nvmrc

            - name: Build serverless functions
              working-directory: ./functions
              run: |
                  npm ci
                  npm run build
            - name: Test serverless functions
              working-directory: ./functions
              run: |
                  npm install
                  npm run test
